# Ignore database files
*.sqlite3
**/migrations/


# Ignore static files
/static/

# Ignore media files
/media/
# Ignore virtual environment
/genv/
/venv/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore compiled Python bytecode
**/**/__pycache__/

# Ignore system files
.DS_Store
Thumbs.db